*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e4ecec;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

table{
    border-collapse: collapse;
}

table caption{
    text-align: left;
    padding: 0 0 10px 0;
    font-weight: bold;
    font-size: large;
}
table thead tr{
    padding: 10px;
}
table thead tr th{
    text-align: left;
}

table tbody tr{
    background-color: white;
    border: #e4ecec solid 1px;
    border-radius: 10px;
}
table tbody tr td {
    padding-right: 50px;
    text-align: left;
}
table tbody tr:first-child{
    border-radius: 8px;
    margin-bottom: 10px;
}
table tbody tr td:first-child{
    padding-right: 10px;
    
}

table tbody tr td span{
    color: gray;
    font-size: x-small;
}
table tbody tr td span a{
    color: gray;
    font-size: x-small;
    text-decoration: none;
    color: #0bdde4;
}

img{
    border-radius: 50px;
    width: 30px;
    margin: 5px;
}
.con{
    border: none;
    border-radius: 3px;
    padding: 3px;
    background-color: rgb(7, 203, 7);
    color: #fff;
    cursor: pointer;
    margin: 10px;
    text-align: left;
}
.rev{
    border: none;
    border-radius: 3px;
    padding: 3px;
    background-color: #006eff;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}