*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #1d1d5b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

header nav a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

header nav a:hover{
    cursor: pointer;
    color: gray;
}

button{
    border: #fff solid 1px;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    background-color: #1d1d5b;
}

button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #1d1d5b;
}