*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h2{
    padding: 20px;
}
header h2 span{
    color: darkorange;
}

header{
    border-bottom: solid #a4a3a3 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: darkorange;
    font-weight: bold;
    padding: 10px;
}

header nav a:hover{
    cursor: pointer;
    background-color: darkorange;
    color: #fff;
    border-radius: 8px;
}
img{
    width: 50px;
    margin: 10px;
}
